/*

div {
    background-color: blue;
    padding: 30px;
    color: white;
    margin: 10px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
*/
/*div {
    height: 100%;
    background-color: cadetblue;
}*/
/*.grid {
    display: grid;
    grid-template-columns: 1fr 1 fr;
    grid-template-rows: 150px 100px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.one{
    grid-column-start: 1;
    grid-column-end: 3;
}*/

.div {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    grid-area: round;
    background-color: blue;
}
.container {
    display: grid;
    grid-template-columns: repeat(10, 1f);
    grid-template-rows: 1f 1f;
    grid-gap: 15px;
}
